html, body {
  height: 100%;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: #444;
  font-size: 1.2em;
  margin: 1.5em 0 1.2em;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

hr {
  border: 0;
  border-bottom: 1px solid #f0f0f0;
}

.hljs {
  background-color: #f8f8f8;
  padding: 20px;
}

p > code {
  background-color: #eee;
  padding: 2px;
  color: #26a2ff;
}

pre {
  margin: 1.2em 0;
}

blockquote {
  margin-bottom: 20px;
}

a {
  color: #4078c0;
  text-decoration: none;
}

::-webkit-scrollbar {
  /*width: 0;*/
}
