html, body {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

.content h1, .content h2, .content h3 {
  color: #444;
  font-size: 1.2em;
  margin: 1.5em 0 1.2em;
}
.content h1 {
  font-size: 2em;
}
.content h3 {
  font-size: 1em;
}
.content p {
  line-height: 1.6rem;
}
.content ul {
  list-style-type: disc;
  margin: 10px 0;
}
.content ul li {
  margin-left: 30px;
  line-height: 1.6rem;
}
.content hr {
  border: 0;
  border-bottom: 1px solid #f0f0f0;
}
.content pre {
  background-color: #f8f8f8;
  padding: 20px;
  margin: 1.2em 0;
  overflow: auto;
}
.content p > code {
  background-color: #eee;
  padding: 2px;
  color: #26a2ff;
}
.content blockquote {
  margin-bottom: 20px;
}
.content a {
  color: #4078c0;
  text-decoration: none;
}
.content ::-webkit-scrollbar {
  /*width: 0;*/
}
.content table th:nth-child(3),
.content table th:nth-child(5) {
  width: 65px;
}
.content table th:nth-child(4) {
  width: 110px;
}
@media screen and (max-width: 768px) {
  .content .table-container {
    overflow-x: scroll;
  }
  .content .table {
    width: auto;
    min-width: 100%;
    table-layout: auto;
  }
  .content .table-container .table th {
    width: auto;
    min-width: 100px;
  }
}
